.navbar {
    padding: 0px 0px !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 600;
    border-right: 1px solid;
    padding: 8px 18px !important;
}

.card-shadow {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    border-radius: 0;
}

.country-image-style {
    max-width: 100%;
    overflow: hidden;
}

.country-image-style img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
}

.country-heading {
    color: #fff;
    padding: 10px 12px;
    border-left: 6px solid #000;
    background-color: #0d6efd;
}

.job-heading {
    font-size: 20px;
    color: #000;
}
.span-text {
    font-size: 12px;
}
.job-desc img {
    width: 100% !important;
    height: auto !important;
}

/* .banner-container {
    height: 80vh;
    background-image: url("../images/hero-banner1.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner-info h1 {
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}
.banner-info h5 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.banner-info span {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
} */
